.head {
  background-color: black;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-img {
  width: 400px;
}
.login-form {
  display: flex;
  align-items: center;
  /* padding: 200px; */
  margin: 30px;
  padding-left: 200px;
  /* padding-top: 120px; */
  /* background-color: aqua; */
}
.border {
  background-color: black;
  width: 300px;
  height: 250px;
  /* margin: 20px; */
  padding: 25px 25px;
}
.login-label {
  font-size: 2rem;
  color: aliceblue;
}
.sign-up-label {
  font-size: 1rem;
  color: aliceblue;
  gap: 10px;
}
.sign-up-input {
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}
.login-input {
  width: 200px;
  height: 30px;
}
.btn {
  margin: 5px;
  /* padding-top: 50px; */
}
.grid-sepration {
  display: grid;
  grid-template-rows: 1fr; /* Single row */
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 10px;
}
.collabera {
  background-color: black;
  width: 300px;
  height: 250px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
